.main-page #nos-bg {
    position: fixed;
    inset: 0;
    pointer-events: none;
    z-index: -100;
    background-image: url('../assets/nos-bg-1.png');
    background-size: cover;
    background-position: 75% calc(70% + var(--bgY) * 1px);
    background-repeat: no-repeat;
    will-change: background-position;
}

.main-page #nos-bg-mask {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 100vh;
    pointer-events: none;
    z-index: -100;
    background: var(--md-default-bg-color, #fff);
}

.main-page #nos-bg-gradient {
    position: fixed;
    left: 0;
    right: 0;
    height: 520px;
    top: calc(100vh - 520px);
    pointer-events: none;
    z-index: -8;
    opacity: 0;
    background: linear-gradient(to bottom,
            color-mix(in srgb, var(--md-default-bg-color) 0%, transparent) 0%,
            color-mix(in srgb, var(--md-default-bg-color) 2%, transparent) 20%,
            color-mix(in srgb, var(--md-default-bg-color) 8%, transparent) 38%,
            color-mix(in srgb, var(--md-default-bg-color) 22%, transparent) 56%,
            color-mix(in srgb, var(--md-default-bg-color) 50%, transparent) 74%,
            color-mix(in srgb, var(--md-default-bg-color) 82%, transparent) 88%,
            var(--md-default-bg-color, #fff) 100%);
}

.main-page #nos-chars,
.main-page #nos-chars-glow {
    position: fixed;
    right: 0;
    bottom: 0;
    pointer-events: none;
    z-index: -10;
    transform-origin: bottom right;
    height: clamp(80vh, calc(80vh + var(--charsX, 0px)*120px), 150vh);
    width: auto;
    max-width: none;
    transform: translateX(clamp(0px, calc((1 - var(--charsX, 1)) * 500px), 500px)) translateY(var(--charsY, 0px));
}

.main-page #nos-chars {
    z-index: -10;
}

.main-page #nos-chars-glow {
    mix-blend-mode: color-dodge;
}